-var fileName = val.type.toLowerCase()
if fileName === 'get' || fileName === 'post'|| fileName === 'put'|| fileName === 'delete'
|const sequelize = require('sequelize');
|
|function #{fileName}(req, res) {
|    var #{fileDir}_model = require('../../model/#{fileDir}_model');
if fileName === 'post'
    |   #{fileDir}_model.create(req.body).then((err,result)=>{
    |       if(err){
    |           return res.writeHead(500,'系统错误');
    |       }
    |       res.send(result);
    |   });
        |
else
        |
        |
        |
|}
|
|module.exports = #{fileName};