|const express = require('express');
|var router = express.Router();
|
|
each val in api
    |//'name':'#{val.name}'
    |router.#{val.type.toLowerCase()}('#{val.url}',require('./controller/#{val.fileDir}/#{val.type.toLowerCase()}.js'));
    |
    |
|module.exports = router;